body {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.pagination-container {
    padding: 0.5em;
    width: 600px;
    min-height: 200px;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}
.clickable {
    cursor: pointer;
}

.skeleton-element {
    width: auto;
    height: 1em;
    animation: skeleton-loading 1s linear infinite alternate;
    cursor: default !important;
}

.error {
    width: 100%;
    border: 1px solid red;
}

.noData {
    width: 100%;
    border: 1px solid purple;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1em;
}

table td, table th {
    border: 1px solid #DDD;
    padding: 0.5em;
}

table th {
    text-align: left;
    background-color: #3E5AC7;
    color: white;
}

table th[data-value="id"] {
    width: 1.5em;
}

dialog {
    padding: 0;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: fit-content;
    border-radius: 0.5em;
}

::backdrop {
    background-color: black;
    opacity: 0.25;
}

.dialogTitleBar {
    display: flex;
    background-color: #3E5AC7;
    color: white;
    font-size: 1.5em;
    padding: 0.2em 1em;
}

.dialogContent {
    padding: 1em;
}

.dialogFooter {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    padding: 0.5em 1em;
}